**/node_modules/**
**/dist/**
packages/casimir/models/**
packages/common/lib-crypto/**
packages/casimir/services/RpcClient/**
packages/casimir/services/Chain/**
packages/casimir/services/Grants/**
packages/generators/**/generators/*/templates/**
packages/portals/*
