**/node_modules/**
**/dist/**
packages/models/**
packages/services/Project/**
packages/common/lib-crypto/**
packages/services/RpcClient/**
packages/services/Chain/**
packages/services/Grants/**
packages/common/platform-fns/lib/helpers/_temp.js
