{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/recommended",
    "eslint:recommended",
    "@vue/airbnb"
  ],
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false,
    "ecmaVersion": 6,
    "sourceType": "module",
    "babelOptions": {
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ]
    }
  },
  "plugins": [
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "state",
          "Vue",
          "_Vue"
        ]
      }
    ],
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "vue": "never"
      }
    ],
    "no-restricted-syntax": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ],
        "allowAfterThis": true,
        "enforceInMethodNames": false
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "vue/script-indent": [
      "error",
      2,
      {
        "baseIndent": 1,
        "switchCase": 1
      }
    ],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 3
      }
    ],
    "no-plusplus": "off"
  },
  "overrides": [
    {
      "files": [
        "*.vue"
      ],
      "rules": {
        "indent": "off"
      }
    }
  ]
}