**/node_modules/**
**/dist/**
packages/casimir/models/**
packages/casimir/services/Project/**
packages/common/lib-crypto/**
packages/casimir/services/RpcClient/**
packages/casimir/services/Chain/**
packages/casimir/services/Grants/**
packages/casimir/modules/attributes/lib/composables/_temp.js
packages/generators/**/generators/*/templates/**
