@use 'sass:map';
@use 'vuetify-variables' as vv;

.v-application {
  &.theme--light {
    --v-core-color-theme: #{map.get(vv.$shades, 'white')};
    --v-core-color-hover: #{rgba(map.get(vv.$shades, 'black'), 0.06)};
    --v-core-color-primary: #{rgba(map.get(vv.$shades, 'black'), 0.87)};
    --v-core-color-secondary: #{rgba(map.get(vv.$shades, 'black'), 0.6)};
    --v-core-color-disabled: #{rgba(map.get(vv.$shades, 'black'), 0.38)};
    --v-core-color-divider: #{rgba(map.get(vv.$shades, 'black'), 0.12)};
  }

  &.theme--dark {
    --v-core-color-theme: #{map.get(vv.$shades, 'black')};
    --v-core-color-hover: #{rgba(map.get(vv.$shades, 'white'), 0.06)};
    --v-core-color-primary: #{map.get(vv.$shades, 'white')};
    --v-core-color-secondary: #{rgba(map.get(vv.$shades, 'white'), 0.7)};
    --v-core-color-disabled: #{rgba(map.get(vv.$shades, 'white'), 0.5)};
    --v-core-color-divider: #{rgba(map.get(vv.$shades, 'white'), 0.12)};
  }
}
